*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    margin:0;
}
.sec-container{
    width: 90%;
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-image: url(https://forever.travel-assets.com/flex/flexmanager/images/2022/08/02/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.png);
    background-size: 100%;
    background-position: relative;
}
.header {
    /* background-color: #0073e6; */
    color: #0073e6;
    padding: 1rem 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: #fff; */
    color: #0073e6;
    width: 5cm;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: -1cm;
    padding-right: 1cm;
    color: #0073e6;
}
.nav ul li a{
    color: #0073e6;
    text-decoration: none;
    font-size: 0.9rem;
}
.hero {
    background-color: #e8f4ff;
    padding: 2rem 0;
    text-align: center;
}
.hero h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
}
.searched-place{
    display: flex;
    justify-content: center;
    gap:0.5rem;
    flex-wrap: wrap;
}
.search, .dateplace, .guest{
padding:0.5rem;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
}
